MT5_BASE="/home/user/.wine/drive_c/Program Files/MetaTrader 5"
MQL5_DIR="/home/user/.wine/drive_c/Program Files/MetaTrader 5/MQL5"
# MT5_PORTABLE_BASE="/home/user/.wine/drive_c/MT5-portable"
# MQL5_PORTABLE_DIR="/home/user/.wine/drive_c/MT5-portable/MQL5"
WINE_DISK_ROOT="Z"